body {
    background: white;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
}

.chart div {
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
    box-sizing: border-box;
}
